<div class="flex justify-center items-center min-h-screen bg-black">
  <mat-card class="w-full max-w-sm p-8 rounded-lg shadow-xl">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <h1 class="text-2xl font-semibold mb-2">Login</h1>

        @if (!loginValid) {
          <mat-error class="text-red-400">The username or password is incorrect</mat-error>
        }

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
          @if (loginForm.get('username')?.hasError('required')) {
            <mat-error>Please provide a valid username</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>Please provide a valid password</mat-error>
          }
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="w-full py-2 rounded-md text-black font-medium"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
