<mat-toolbar>
  <button matIconButton>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Wedding planner</span>
  <span class="flex-1"></span>
  @if (facade.isAuthenticated()) {
    <button matIconButton [matMenuTriggerFor]="settingsMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item routerLink="/admin">{{'ADMIN.TITLE' | translate}}</button>
    </mat-menu>

    <button matIconButton [matMenuTriggerFor]="logoutMenu">
      <mat-icon>logout</mat-icon>
    </button>
    <mat-menu #logoutMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">{{'ADMIN.LOGOUT' | translate}}</button>
    </mat-menu>
  }
</mat-toolbar>
